Repository octet-stream/form-data: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore: Add script for Biome and update git hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore(workflows): Update linting workflow for Biome
  .github/workflows/lint.yml
Due: none

chore(deps): Bump pnpm version to 9.4.0
  package.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore(deps): Update lockfile
  pnpm-lock.yaml
Due: none

chore(deps): Bump dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

fix: Fix TS complains
  .vscode/settings.json
  src/blobHelpers.ts
  src/isReadableStreamFallback.ts
Due: pnpm exec eslint --fix, pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore: Update AVA configs
  ava.config.js
  tsconfig.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

fix: Disable updates for changesets/cli because one of the latest versions is broken
  package.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore: Remove unnecessary callback from tsup config
  tsup.config.ts
Due: pnpm exec eslint --fix, pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

feat: Add Nix dev shell
  .envrc
  .gitignore
  .vscode/settings.json
  flake.lock
  flake.nix
  shell.nix
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore(deps): Bump pnpm
  package.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

chore(git): Replace lint-staged with biome staging files support
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

revert(deps): Re-introduce lint-staged for .nix and .ts files
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

revert(deps): Re-introduce lint-staged for .nix and .ts files
  .lintstagedrc.json
Due: pnpm biome format --write --no-errors-on-unmatched, pnpm biome lint --write --no-errors-on-unmatched

Path conditions:
  pnpm exec eslint --fix: any of: *.ts
  pnpm biome format --write --no-errors-on-unmatched: any of: *.{ts,js,json,jsonc}
  pnpm biome lint --write --no-errors-on-unmatched: any of: *.{ts,js,json,jsonc}
